html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn {
	background-color: teal;
	border: none;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0;
}

.btn--add {
	background-color: green;
	border: none;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0;
}

.btn--remove {
	background-color: red;
	border: none;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0;
}

img {
	width: 350px;
	height: 225px;
}

#gallery {
	display: flex;
	justify-content: center;
}

.gallery--item {
	list-style: none;
	margin-right: 25px;
}

.gallery--item:last-child {
	margin: 0;
}

.plus {
	border: none;
	background-color: green;
	padding: 10px 15px;
}

.minus {
	border: none;
	background-color: red;
	padding: 10px 15px;
}

#validation-input {
	border: 3px solid #bdbdbd;
}

#validation-inputValid {
	border-color: #4caf50;
}

#validation-inputInvalid {
	border-color: #f44336;
}

#font-size-control {
	display: block;
	margin-top: 15px;
}

#controls {
	margin-top: 20px;
}
