<div class="menu">
  <ul class="menu-list">
    {{#each this}}
    <h2 class="menu-item">{{title}}</h2>
    {{#each items}}
    <li class="menu-item">{{this}}</li>
    {{/each}}
    {{/each}}
  </ul>
</div>